/**********************************************************************
 * Portions written by Opacus (C) Mathew Bland, Jonathan Cutting,
 * Opacus Ltd.
 * 
 * This file is part of the Opacus SugarCRM Thunderbird Plugin.
 *
 * The Opacus SugarCRM Thunderbird Plugin
 * is free software:you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The Opacus SugarCRM Thunderbird Plugin
 * is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Opacus SugarCRM Thunderbird Plugin.
 * If not, see <http://www.gnu.org/licenses/>.
 *********************************************************************/
treechildren::-moz-tree-checkbox(secondary)
{
  /* unchecked checkbox treecells. This style MUST come before treechildren::-moz-tree-checkbox(checked) otherwise it won't take effect. */
  list-style-image: url("chrome://messenger/skin/icons/notchecked.gif");
}
treechildren::-moz-tree-checkbox(secondary,checked)
{
  /* checked checkbox treecells. cbox-check.gif isn't available in
     Firefox 1, 2, and 3 in Mac OS X so you should specify a URL to an image
     in your extension or elsewhere. */
  list-style-image: url("chrome://messenger/skin/icons/check.gif");
}
treechildren::-moz-tree-checkbox(disabled)
{
  /* disabled checkbox treecells. cbox-check.gif isn't available in
     Firefox 1, 2, and 3 in Mac OS X, so you should specify a URL to an image
     in your extension or elsewhere.
  list-style-image: url("chrome://global/skin/checkbox/cbox-check-dis.gif");*/
  list-style-image: url("moz-icon://stock/format-text-bold?size=menu");
}

.resultCell {
  margin: 0px !important;
  padding: 0 0 0 5px;
  white-space: nowrap;
}

.parentCell {
  margin: 0px !important;
  padding: 4px 0 1px 2px;
  white-space: nowrap;
  font-weight: bold;
  border-bottom: 1px solid #bbb;
}
#feedbackBox {
	padding: 6px 30px 0 20px;
}
.moduleIcon {
    color: white;
    height: 22px;
    width: 22px;
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #C4C4C4;
}

.moduleIconContacts {
    background-color: #51b71a;
}

.moduleIconAccounts {
 background-color: #51cd15 !important
}
.moduleIconBugs {
 background-color: #e61718 !important
}
.moduleIconCalendar {
 background-color: #00bd9c !important
}
.moduleIconCalls {
 background-color: #01d1ff !important
}
.moduleIconCampaigns {
 background-color: #ffcf00 !important
}
.moduleIconCampaignLog {
 background-color: #ffcf00 !important
}
.moduleIconCases {
 background-color: #e85479 !important
}
.moduleIconContacts {
 background-color: #51b71a; !important
}
.moduleIconDocuments {
 background-color: #fb8724 !important
}
.moduleIconEmails {
 background-color: #2c97de !important
}
.moduleIconFiles {
 background-color: #ef6907 !important
}
.moduleIconForecasts {
 background-color: #1fce6d !important
}
.moduleIconKBArticles {
 background-color: #3590eb !important
}
.moduleIconKBContents {
 background-color: #3590eb !important
}
.moduleIconKBDocuments {
 background-color: #3590eb !important
}
.moduleIconKBLocalizations {
 background-color: #183cc8 !important
}
.moduleIconKBRevisions {
 background-color: #7541c5 !important
}
.moduleIconLeads {
 background-color: #7651fc !important
}
.moduleIconMeetings {
 background-color: #2ee0cd !important
}
.moduleIconNotes {
 background-color: #198cc6 !important
}
.moduleIconOpportunities {
 background-color: #a05cff !important
}
.moduleIconpmse_Business_Rules {
 background-color: #9aa5ad !important
}
.moduleIconpmse_Emails_Templates {
 background-color: #9aa5ad !important
}
.moduleIconpmse_Inbox {
 background-color: #9aa5ad !important
}
.moduleIconpmse_Project {
 background-color: #9aa5ad !important
}
.moduleIconProducts {
 background-color: #011523 !important
}
.moduleIconProspects {
 background-color: #429e10 !important
}
.moduleIconProspectLists {
 background-color: #429e10 !important
}
.moduleIconQuotas {
 background-color: #18e7d2 !important
}
.moduleIconQuotes {
 background-color: #00beab !important
}
.moduleIconReports {
 background-color: #ff973e !important
}
.moduleIconRevenueLineItems {
 background-color: #00cbf3 !important
}
.moduleIconTags {
 background-color: #9aa5ad !important
}
.moduleIconTasks {
 background-color: #de5af1 !important
}
.moduleIconUsers {
 background-color: #6b7479 !important
}
.moduleIconWorkflow {
 background-color: #41b7d1 !important
}
.moduleIconDataPrivacy {
 background-color: #9aa5ad !important
}

